<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

body {
  font-family: "Lato", sans-serif;
  right: 0;
}

.card{
  float: left;
  width: 33.33%;
  padding: 0px 0px 10px 198px;
  margin: -5px;
  text-align: center;
  display: inline-table;
}

*{box-sizing: border-box;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
{% block content %}
    
  <table class="table table-striped table-hover" width:100%>
    <thead style="background-color:sandybrown">
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Size</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
  {% for bride in product %}
  <!-- <div class="card" style="width: 18rem;">
    <div class="aboutproduct" > -->
        <tr>
            <td>
                <img src="{{ bride.picture.url }}" alt="..." style="height: 130px; width: auto">
            </td>
            <td>{{ bride.name }}</td>
            <td>{{ bride.brand }}</td>
            <td>{{ bride.size }}</td>
            <td>{{ bride.price }}</td>
    
  {% endfor %}
  {% endfor %}
{% endblock %}
</body>
</html> 