<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Privacy Policy</title>
        <meta charset="utf-8">
        <style>

        .boxed{
            background-color: black;
            height: 300px;
            padding-top: 0;
            }
           
        .head{
            color:white;
            text-align: center;
            font-size: 80px;
            font-family: monospace;
            position: relative;
            }

        h1{
            margin: 0;
            padding-top: 85px;
            font-size: 80px;
        }
        .header{
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: left;
        font-size: 20px;
        }
        
        p{
        text-decoration: underline;
        }
        
        .content{
        padding-top: 0px;
        text-align: left;
        font-size: 15px;    
        }
    
        footer {
        background-color: #f2f2f2;
        padding: 25px;
        }

        .foot{
        padding-top: 20px;
        text-align-last: center;
        }
        </style>
        </head>
        <body>
            <div class= "boxed">
                <div class= "head"> 
                    <h1>Privacy Policy</h1>
                </div>
            </div>

            <div class="bg-image"></div>
            <div class="bg-text">
                <div class= "header">
                    <p>General Browsing Information</p>
                    <div class="content"> 
                        During each visit of our website by visitors, we collect as well as store navigational information. However, just non-personal detectable information may be collected which includes browser version, domain type, service provider and IP address. We also in a ease in assessing the capabilities of downloading and connecting the pages from our website. Visitor’ experience as well as feedback can be attained through navigational information. So that we can be able to offer our customers with more qualities, products and the services that our customers use to prefer or like.
                    </div>
                    </div>
                <div class= "header">
                    <p>Description</p>
                    <div class="content"> 
                        Your data or your credentials do not ever sell with the other parties by us in any condition. At www.alishacollection.com, we use to gather as well as save the information of our customers in order to improve your experience. The aim of this privacy policy is to help you to understand the information which we collect about you at the time you visit our website as well as how that information is being used.
                    </div>
                </div>
                    <div class= "header">
                        <p>Personal Information</p>
                        <div class="content"> 
                            Information is collected when you visit our website. The information which is gathered may comprises of your name, e-mail address, mailing address, shipping address, billing address and contact number. This occurs for the purpose of shipping your products to you as well as for the verification of your billing information. Our customer names, e-mail address or the mailing address are not to be shared with any unofficial person.
                        </div>
                    </div>
                    <div class= "header">
                        <p>Online Collected Personal Information Utilized</p>
                        <div class="content"> 
                            Your personal information is used for delivering your ordered products, for responding to your queries as well as for delivering the services and the information regarding our products, events and promotions.
                        </div>
                    </div>
                        <div class= "header">
                            <p>Sharing of Information with Third Parties</p>
                            <div class="content"> 
                            Your information is shared with the third parties just to fulfill the orders, observing the site activity, processing payments, conducting surveys, observing e-mail and data base.
                            </div>
                        </div>
                        <div class= "header">
                            <p>General Browsing Information</p>
                            <div class="content"> 
                                During each visit of our website by visitors, we collect as well as store navigational information. However, just non-personal detectable information may be collected which includes browser version, domain type, service provider and IP address. We also in a ease in assessing the capabilities of downloading and connecting the pages from our website. Visitor’ experience as well as feedback can be attained through navigational information. So that we can be able to offer our customers with more qualities, products and the services that our customers use to prefer or like.
                            </div>
                        </div>
                            <div class= "header">
                                <p>Other Websites and Services Links</p>
                                <div class="content"> 
                                    Links for other sites may be available in our website for your ease. The appearing links on www.binsaeedfabric.com must not consider that we use to have any connection with the linked websites. It is not the responsibility of www.binsaeedfabric.com for the privacy activities or any content of these linked websites. You must need to go through the privacy policies of these linked websites.
                                </div>
                            </div>
                            <div class= "header">
                                <p>Considerations or Questions</p>
                                <div class="content"> 
                                    You may contact us at info@alishacollection.com if you have any problem or query regarding our privacy policy.
                                </div>
                            </div>
                                <div class= "header">
                                    <p>Note:</p>
                                    <div class="content"> 
                                    Due to various types of lighting and flash used while photo shoot, or maybe due to the difference in electronic digital device capturing effects and screen resolutions, the design color shade of the product may slightly vary. The brightest shade seen is the closest color of the product.
                                    </div>
                                </div>
                                <footer class="container-fluid text-center">
                                    <div class= "container">
                                        <div class="foot">
                                        <a href=privacy.html> Privacy Policy | </a>
                                        <a href=terms.html> Terms and Conditions | </a>
                                        <a href=shipping.html> Shipping Policy</a>
                                        </div>
                                    </div>    
                                </footer>
                                
                                
                                </div>
                            </body>
                            </html>
    
                    

